*.bak
*.class
*.ctxt
*.ear
*.iml
*.ipr
*.iws
*.jar
*.launch
*.log
*.nar
*.pydevproject
*.rar
*.swp
*.tar.gz
*.tmp
*.war
*.zip
*~.nib
.autotools
.buildpath
.cache-main
.classpath
.cproject
.factorypath
.loadpath
.metadata
.project
.recommenders
.scala_dependencies
.springBeans
.target
.tern-project
.texlipse
.worksheet
/.apt_generated/
/.apt_generated_test/
/.externalToolBuilders/
/.idea/
/.mtj.tmp/
/.recommenders/
/.settings/
/bin/
/out/
/saves/
/target/
/tmp/
hs_err_pid*
local.properties